# ไม่เอาโฟลเดอร์ขยะของ Python
__pycache__/
*.pyc

# ไม่เอาไฟล์ Virtual Environment (ถ้ามี)
venv/
env/

# ไม่เอาไฟล์ติดตั้งตัวใหญ่ๆ (ให้คนอื่นไปโหลดเอง)
*.whl

# *** สำคัญ: ถ้าไม่อยากให้รูปคนรู้จักหลุดไป ให้เพิ่มบรรทัดนี้ ***
# (แต่ถ้าเป็นรูปดารา หรือรูปทดสอบเฉยๆ ไม่ต้องใส่ก็ได้ครับ)
faces/
*.jpg
*.png